@model PJMS_Model.ProjectModel

@{
    ViewBag.Title = "ProjectTeamSetUp";
    Layout = "~/Views/Shared/_PJMSLayout.cshtml";
}
<div class="panel-body">
    <div class="container-fluid" id="content_zip">
        <div class="row">
            <div class="col-xl-12 col-md-12 col-sm-12 mb-2">
                <div class="card" id="border-entry">
                    <div class="card-body">
                        <h2 class="mb-3">Project's Team Setup</h2>
                        <div class="col-xl-12 col-md-12 col-sm-12 mb-2">
                            @Html.LabelFor(model => model.Teams, htmlAttributes: new { @class = "control-label col-md-2" })
                            @Html.RadioButton("Teams", "1", new {@id="rdoSystem", @checked = true})<label for="rdoSystem">System Teams</label>
                            @Html.RadioButton("Teams", "2",new {@id="rdoSeisaku",  @class = "ml-3" })<label for="rdoSeisaku">Seisaku Teams</label>
                        </div>
                        <div class="col-xl-12 col-md-12 col-sm-12 mb-2" >
                            @Html.LabelFor(model => model.Projects, htmlAttributes: new { @class = "control-label col-md-2" })
                            <select id="selectProject">
                                <option value = ''>---Select Project---</option>
                            </select>  
                        </div>
                        <div class="col-xl-12 col-md-12 col-sm-12 mb-2" id="position">
                            @Html.LabelFor(model => model.ProjectLeaders, htmlAttributes: new { @class = "control-label col-md-2" })
                            <a href="#" data-izimodal-open="#modal" data-izimodal-transitionin="fadeInRight" onchange="myFunction(x)" class="leader">Add Leader</a><br />
                            @Html.LabelFor(model => model.ProjectMembers, htmlAttributes: new { @class = "control-label col-md-2 ",})
                            <a href="#" data-izimodal-open="#modal" data-izimodal-transitionin="fadeInRight" onchange="myFunction(y)">Add Member</a>
                            <div class="modal" id="modal" style="height: auto">
                                <div class="sections">
                                    <section>
                                        <table id="tblEmployee1" class="table table-striped reducepadding table-bordered table-td-valign-middle" style="width:100%">
                                            <thead>
                                                <tr>
                                                    <th></th>
                                                    <th>EmployeeCD</th>
                                                    <th>EmployeeName</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                        <button type="button" id="btnRemove" class="btn btn-dark col-md-4 mt-3 ml-5"><i class="fa fa-window-close"></i>&nbsp; Close</button>
                                        <button type="button" id="btnAdd" class="btn btn-dark col-md-4 mt-3"><i class="fa fa-window-close"></i>&nbsp; Add Employee</button>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts
{
    <script type="text/javascript">

        $(document).ready(function () {
            BindProject();
        });

        $('input[type=radio][name=Teams]').change(function () {
            BindProject();
        });

        function BindProject() {
            let obj = {
                    TeamID: $('input[name="Teams"]:checked').val(),
                };
            let r = JSON.parse(CalltoApiController('@Url.Action("GetProject", "api/ProjectListApi")', obj));
            $("#selectProject").empty();
            $("#selectProject").prepend("<option value='' selected='selected'></option>");
            for (var i = 0; i < r.length; i++)
            {
                $("#selectProject").append('<option value ="' + r[i].ProjectName + '">' + r[i].ProjectName + '</option>');
            }
        }

        $(".modal").iziModal({
            title: "Employee List",
            padding: 10,
            TransitionIn: 'FadeInRight',
            theme: 'light',
            width: '700px',
            headerColor: 'deepskyblue',
        });
        $('#btnRemove').on('click', function (e) {
            $('#modal').remove();
        });
        $('#btnAdd').click(function () {
                    alert(1);

        });

        $(document).ready(function () {
            var obj = {
                EmployeeCD: ''
            };
            var response = CalltoApiController('@Url.Action("GetEmployee", "api/EmployeeListApi")', obj);
            BindTable(response);
        });
        function BindTable(response) {
            table = $('#tblEmployee1').DataTable({
                resSelectListItemelectListItemelectListelectListonsive: true,
                data: JSON.parse(response),
                datasrc: "",
                destroy: true,
                "paging": true,
                "ordering": true,
                "columns": [
                    { "data": "EmployeeCD", "className": "align-center", "width": "20%" },
                    { "data": "EmployeeCD", "className": "align-center", "width": "40%" },
                    { "data": "EmployeeName", "className": "align-center", "width": "40%" },
                ],
                "columnDefs": [{
                    "targets": 0,
                    "data": "EmployeeCD",
                    "render": function (data) {
                        return '<input type="checkbox" @*data-val="true" data-val-required="The IsChecked field is required."*@ name="IsChecked"  class="chkStatus" onchange="EditUser(this)">';
                    },
                }],
            });
        }
        function EditUser(Item) {
            if (Item.checked) {
                $('input.chkStatus').not(Item).prop('checked', false);
            }
        }
    </script>
}