<!DOCTYPE html>
<html>
<head>
    <title>PJMS[@ViewBag.Title]</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <link rel="icon" href=@Url.Content("~/SystemImages/CK.ico") />
    <link href="@Url.Content("~/Css/app.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Css/ionicons.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Css/dataTables.bootstrap4.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Css/responsive.bootstrap4.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Css/buttons.bootstrap4.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Css/sweetalert2.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Css/Common.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Css/bootstrap-datepicker.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Css/bootstrap-datepicker3.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Css/bootstrap-datetimepicker.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Css/iziModal.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Css/iziModal.min.css")" rel="stylesheet" />
    @{

        string ID = string.Empty;
        string Name = string.Empty;
        string obj = string.Empty;
        if (Session["UserInfo"] != null)
        {
            obj = Session["UserInfo"].ToString();
            ID = obj.Split('_')[0];
            Name = obj.Split('_')[1];
        }
        else
        {
            Response.Redirect(Url.Content("~/Home/Login"));
        }
    }
</head>
<body>
    <input id="ExistsUrl" type="hidden" value="@Url.Action("ExistsCheck","api/ErrorApi")" />
    <input id="ByteLengthUrl" type="hidden" value="@Url.Action("ByteLengthCheck","api/ErrorApi")" />
    <input id="DateCheckUrl" type="hidden" value="@Url.Action("DateCheck","api/ErrorApi")" />
    <input id="LoginID" type="hidden" value="@ID" />
    <div id="page-loader" class="fade show">
        <span class="spinner"></span>
    </div>
    <div id="page-container" class="page-container fade">
        <div id="header" class="header navbar-default">
            <div class="navbar-header">
                <a href="#" class="navbar-brand">
                    <img style="margin-right:5px" src="@Url.Content("~/SystemImages/CK.JPG")" />
                    <b class="mr-1">プロジェクト管理システム</b>
                </a>
                <button type="button" class="navbar-toggle" data-click="sidebar-toggled">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <ul class="navbar-nav navbar-right">
                <li class="dropdown navbar-user">
                    <a href="page_blank.html#" class="dropdown-toggle" data-toggle="dropdown">

                        <span class="d-none d-md-inline" style="font-weight:600">@Name</span> <b class="caret"></b>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a href="@Url.Action("Login","Home")" class="dropdown-item">Log Out</a>
                    </div>
                </li>
            </ul>
        </div>
        <div id="sidebar" class="sidebar" style="padding-top:50px;">

            <div data-scrollbar="true" data-height="100%">
                <ul class="nav">
                    <li>
                        <ul class="nav nav-profile">
                            <li><a href="javascript:;"><i class="fa fa-cog"></i> Settings</a></li>
                            <li><a href="javascript:;"><i class="fa fa-pencil-alt"></i> Send Feedback</a></li>
                            <li><a href="javascript:;"><i class="fa fa-question-circle"></i> Helps</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav">
                    <li class="nav-header">メニュー</li>
                    <li>
                        <a href="@Url.Action("ProjectView","Project")">
                            <i class="ion-ios-grid-view bg-gradient-pink"></i>
                            <span>ホーム</span>
                        </a>
                    </li>
                    <li class="has-sub">
                        <a href="javascript:;">
                            <b class="caret"></b>
                            <i class="ion ion-ios-briefcase bg-gradient-green"></i>
                            <span>プロジェクト</span>
                        </a>
                        <ul class="sub-menu">
                            <li><a href="@Url.Action("ProjectList","Project")">プロジェクト一覧</a></li>
                            @*<li><a href="@Url.Action("ProjectListMobile","Project")">プロジェクト一覧（List）</a></li>*@
                            <li><a href="@Url.Action("ProjectEntry","Project")">プロジェクト入力</a></li>
                        </ul>
                    </li>
                    <li class="has-sub">
                        <a href="javascript:;">
                            <b class="caret"></b>
                            <i class="ion-ios-person bg-gradient-aqua"></i>
                            <span>スタッフ</span>
                        </a>
                        <ul class="sub-menu">
                            <li><a href="@Url.Action("EmployeeList","Employee")">スタッフ一覧</a></li>
                        </ul>
                    <li>
                    <li class="has-sub">
                        <a href="javascript:;">
                            <b class="caret"></b>
                            <i class="fa fa-project-diagram bg-gradient-red"></i>
                            <span>プロジェクト区分</span>
                        </a>
                        <ul class="sub-menu">
                            <li><a href="@Url.Action("ProjectTypeList","ProjectType")">プロジェクト区分一覧</a></li>
                            <li><a href="@Url.Action("ProjectTypeEntry","ProjectType")">プロジェクト区分入力</a></li>
                        </ul>
                    <li>
                    <li class="has-sub">
                        <a href="javascript:;">
                            <b class="caret"></b>
                            <i class="fa fa-tasks bg-gradient-orange"></i>
                            <span>状況・進捗</span>
                        </a>
                        <ul class="sub-menu">
                            <li><a href="@Url.Action("ProgressList","Progress")">進捗一覧</a></li>
                            <li><a href="@Url.Action("ProgressEntry","Progress")">進捗入力</a></li>
                        </ul>
                    <li>
                        <a href="javascript:;" class="sidebar-minify-btn" data-click="sidebar-minify"><i class="ion-ios-arrow-back"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="sidebar-bg"></div>
        <div id="content" class="content">
            @RenderBody()
        </div>
    </div>
    <script src="@Url.Content("~/JS/app.min.js")"></script>
    <script src="@Url.Content("~/JS/apple.min.js")"></script>
    <script src="@Url.Content("~/JS/jquery.dataTables.min.js")"></script>
    <script src="@Url.Content("~/JS/dataTables.bootstrap4.min.js")"></script>
    <script src="@Url.Content("~/JS/dataTables.responsive.min.js")"></script>
    <script src="@Url.Content("~/JS/responsive.bootstrap4.min.js")"></script>
    <script src="@Url.Content("~/JS/dataTables.buttons.min.js")"></script>
    <script src="@Url.Content("~/JS/buttons.bootstrap4.min.js")"></script>
    <script src="@Url.Content("~/JS/buttons.colVis.min.js")"></script>
    <script src="@Url.Content("~/JS/buttons.flash.min.js")"></script>
    <script src="@Url.Content("~/JS/buttons.html5.min.js")"></script>
    <script src="@Url.Content("~/JS/buttons.print.min.js")"></script>
    <script src="@Url.Content("~/JS/pdfmake.min.js")"></script>
    <script src="@Url.Content("~/JS/vfs_fonts.js")"></script>
    <script src="@Url.Content("~/JS/jszip.min.js")"></script>
    <script src="@Url.Content("~/JS/table-manage-buttons.demo.js")"></script>
    <script src="@Url.Content("~/JS/sweetalert2.min.js")"></script>
    <script src="@Url.Content("~/JS/Common.js")"></script>
    <script src="@Url.Content("~/JS/ErrorCheck.js")"></script>
    <script src="@Url.Content("~/JS/bootstrap-datepicker.js")"></script>
    <script src="@Url.Content("~/JS/bootstrap-datepicker.js")"></script>
    @*eonasdan-bootstrap-datetimepicker*@
    <script src="@Url.Content("~/JS/moment.min.js")"></script>
    <script src="@Url.Content("~/JS/bootstrap-datetimepicker.min.js")"></script>
    @*cleave number format*@
    <script src="@Url.Content("~/JS/cleave.min.js")"></script>
    <script src="@Url.Content("~/JS/iziModal.min.js")"></script>
    <script src="@Url.Content("~/JS/iziModal.js")"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
