<!DOCTYPE html>
<html>
<head>
    <title>PJMS[@ViewBag.Title]</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <link rel="icon" href=@Url.Content("~/SystemImages/OSM.ico") />
    <link href="@Url.Content("~/Css/app.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Css/ionicons.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Css/dataTables.bootstrap4.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Css/responsive.bootstrap4.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Css/buttons.bootstrap4.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Css/sweetalert2.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Css/Common.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Css/bootstrap-datepicker.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Css/bootstrap-datepicker3.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Css/bootstrap-datetimepicker.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Css/iziModal.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Css/iziModal.min.css")" rel="stylesheet" />
    @{
        if (System.Diagnostics.Debugger.IsAttached)
        {
            Session["UserInfo"] = "sa" + '_' + "Admin";
        }
        string obj = Session["UserInfo"].ToString();
        string ID = obj.Split('_')[0];
        string Name = obj.Split('_')[1];
    }
</head>
<body>
    <input id="LoginID" type="hidden" value="@ID" />
    <div id="page-loader" class="fade show">
        <span class="spinner"></span>
    </div>
    <div id="page-container" class="page-container fade">
        <div id="header" class="header navbar-default">
            <div class="navbar-header">
                <a href="#" class="navbar-brand"><span class="navbar-logo"><i class="ion-ios-cloud"></i></span> <b class="mr-1">OSM</b></a>
                <button type="button" class="navbar-toggle" data-click="sidebar-toggled">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <ul class="navbar-nav navbar-right">
                <li class="dropdown navbar-user">
                    <a href="page_blank.html#" class="dropdown-toggle" data-toggle="dropdown">

                        <span class="d-none d-md-inline" style="font-weight:600">@Name</span> <b class="caret"></b>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a href="javascript:;" class="dropdown-item">Edit Profile</a>
                        <a href="javascript:;" class="dropdown-item"><span class="badge badge-danger pull-right">2</span> Inbox</a>
                        <a href="javascript:;" class="dropdown-item">Calendar</a>
                        <a href="javascript:;" class="dropdown-item">Setting</a>
                        <div class="dropdown-divider"></div>
                        <a href="javascript:;" class="dropdown-item">Log Out</a>
                    </div>
                </li>
            </ul>          
        </div>
        <div id="sidebar" class="sidebar" style="padding-top:50px;">

            <div data-scrollbar="true" data-height="100%">
                <ul class="nav">                   
                    <li>
                        <ul class="nav nav-profile">
                            <li><a href="javascript:;"><i class="fa fa-cog"></i> Settings</a></li>
                            <li><a href="javascript:;"><i class="fa fa-pencil-alt"></i> Send Feedback</a></li>
                            <li><a href="javascript:;"><i class="fa fa-question-circle"></i> Helps</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav">
                    <li class="nav-header">Navigation</li>
                    <li>
                        <a href="@Url.Action("Dashboard","Home")">
                            <i class="ion-ios-pulse"></i>
                            <span>Dashboard</span>
                        </a>
                    </li>                  
                    <li class="has-sub">
                        <a href="javascript:;">
                            <b class="caret"></b>
                            <i class="fas fa-project-diagram"></i>
                            <span>Project</span>
                        </a>
                        <ul class="sub-menu">
                            <li><a href="@Url.Action("ProjectList","Project")">Project List</a></li>
                            <li><a href="@Url.Action("ProjectEntry","Project")">Project Entry</a></li>
                        </ul>
                    </li>
                    <li class="has-sub">
                        <a href="javascript:;">
                            <b class="caret"></b>
                            <i class="ion-ios-person bg-gradient-aqua"></i>
                            <span>Employee</span>
                        </a>
                        <ul class="sub-menu">
                            <li><a href="@Url.Action("EmployeeList","Employee")">Employee List</a></li>
                            <li><a href="@Url.Action("EmployeeEntry","Employee")">Employee Entry</a></li>
                        </ul>
                    </li>
                    <li class="has-sub">
                        <a href="javascript:;">
                            <b class="caret"></b>
                            <i class="ion-ios-world bg-green-lighter"></i>
                            <span>Shop</span>
                        </a>
                        <ul class="sub-menu">
                            <li><a href="@Url.Action("ShopList","Shop")">Shop List</a></li>
                            <li><a href="@Url.Action("ShopEntry","Shop")">Shop Entry</a></li>
                        </ul>
                    </li>
                    <li class="has-sub">
                        <a href="javascript:;">
                            <b class="caret"></b>
                            <i class="ion-ios-book bg-yellow-lighter"></i>
                            <span>Brand</span>
                        </a>
                        <ul class="sub-menu">
                            <li><a href="@Url.Action("BrandList","Brand")">Brand List</a></li>
                            <li><a href="@Url.Action("BrandEntry","Brand")">Brand Entry</a></li>
                        </ul>
                    </li>
                    <li class="has-sub">
                        <a href="javascript:;">
                            <b class="caret"></b>
                            <i class="ion-ios-briefcase bg-gradient-orange"></i>
                            <span>Item</span>
                        </a>
                        <ul class="sub-menu">
                            <li><a href="@Url.Action("ItemList","Item")">Item List</a></li>
                            <li><a href="@Url.Action("ItemEntry","Item")">Item Entry</a></li>
                        </ul>
                    </li>
                    <li class="has-sub">
                        <a href="javascript:;">
                            <b class="caret"></b>
                            <i class="ion-ios-list bg-gradient-pink"></i>
                            <span>Order</span>
                        </a>
                        <ul class="sub-menu">
                            <li><a href="@Url.Action("OrderList","Order")">Order List</a></li>
                            <li><a href="@Url.Action("OrderComform","Order")">Order Comform</a></li>
                            <li><a href="@Url.Action("OrderEntry","Order")">Order Entry</a></li>
                            <li><a href="@Url.Action("ShopOrderItemCheck","Order")">Shop Order</a></li>
                        </ul>
                    </li>
                    <li><a href="javascript:;" class="sidebar-minify-btn" data-click="sidebar-minify"><i class="ion-ios-arrow-back"></i></a></li>

                </ul>

            </div>

        </div>
        <div class="sidebar-bg"></div>


        <div id="content" class="content">
            @RenderBody()
        </div>
    </div>


    <script src="@Url.Content("~/JS/app.min.js")"></script>
    <script src="@Url.Content("~/JS/apple.min.js")"></script>

    <script src="@Url.Content("~/JS/jquery.dataTables.min.js")"></script>
    <script src="@Url.Content("~/JS/dataTables.bootstrap4.min.js")"></script>
    <script src="@Url.Content("~/JS/dataTables.responsive.min.js")"></script>
    <script src="@Url.Content("~/JS/responsive.bootstrap4.min.js")"></script>
    <script src="@Url.Content("~/JS/dataTables.buttons.min.js")"></script>
    <script src="@Url.Content("~/JS/buttons.bootstrap4.min.js")"></script>
    <script src="@Url.Content("~/JS/buttons.colVis.min.js")"></script>
    <script src="@Url.Content("~/JS/buttons.flash.min.js")"></script>
    <script src="@Url.Content("~/JS/buttons.html5.min.js")"></script>
    <script src="@Url.Content("~/JS/buttons.print.min.js")"></script>
    <script src="@Url.Content("~/JS/pdfmake.min.js")"></script>
    <script src="@Url.Content("~/JS/vfs_fonts.js")"></script>
    <script src="@Url.Content("~/JS/jszip.min.js")"></script>
    <script src="@Url.Content("~/JS/table-manage-buttons.demo.js")"></script>
    <script src="@Url.Content("~/JS/sweetalert2.min.js")"></script>
    <script src="@Url.Content("~/JS/Common.js")"></script>
    <script src="@Url.Content("~/JS/bootstrap-datepicker.js")"></script>
    <script src="@Url.Content("~/JS/bootstrap-datepicker.js")"></script>
    @*eonasdan-bootstrap-datetimepicker*@
    <script src="@Url.Content("~/JS/moment.min.js")"></script>
    <script src="@Url.Content("~/JS/bootstrap-datetimepicker.min.js")"></script>
    @*cleave number format*@
    <script src="@Url.Content("~/JS/cleave.min.js")"></script>
    <script src="@Url.Content("~/JS/iziModal.min.js")"></script>
    <script src="@Url.Content("~/JS/iziModal.js")"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
