@model PJMS_Model.EmployeeModel
@{
    ViewBag.Title = "Employee Entry";
    Layout = "~/Views/Shared/_PJMSLayout.cshtml";
}

@using (Html.BeginForm("Employee_Save", "Employee", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", role = "form" }))
{
    <div class="panel-body">
        <div class="container-fluid" id="content_zip">
            <div class="row">
                <div class="col-xl-12 col-md-12 col-sm-12 mb-2">
                    <div class="card" id="border-entry">
                        <div class="card-body">
                            <div class="form-row">
                                <div class="form-group col-xl-2 col-md-4">
                                    <label for="EmployeeCD">EmployeeCD</label><label style="color:red;font-size:20px;">&nbsp;*</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text text-info" id="basic-addon1"><i class="fas fa-project-diagram"></i></span>
                                        </div>
                                        @Html.HiddenFor(em => em.Mode, new { @id = "hfSave_Update" })
                                        @Html.TextBoxFor(em => em.EmployeeCD, new
                                        {
                                           @class = "form-control input-sm input-integeronly1",
                                           @tabindex = "1",
                                           @required = "required",
                                           @id = "txtEmployeeCD",
                                           @autofocus = "autofocus",
                                           maxlength = "7",
                                        })
                                    </div>
                                </div>
                                <div class="form-group col-xl-2 col-md-4">
                                    <label for="EmployeeName">Employee Name</label><label style="color: red; font-size: 20px;">&nbsp;*</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text text-info" id="basic-addon1"><i class="fas fa-list-ol"></i></span>
                                        </div>
                                        @Html.TextBoxFor(em => em.EmployeeName, new
                                        {
                                           @class = "form-control input-sm",
                                           @tabindex = "2",
                                           @required = "required",
                                           @id = "txtEmployeeName",
                                           @autofocus = "autofocus",
                                           maxlength = "100"
                                        })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12 text-center">
                    <div class="card border-bottom-success shadow h-100 border-bottom" id="border-entry">
                        <div class="card-body">
                            <div class="text-s font-weight-bold text-custom1 text-uppercase mb-1">
                                <button id="btnSave" class="btn col-xl-2"><i class="fa fa-save"></i>&nbsp; Save</button>
                                <button id="btnUpdate" class="btn col-xl-2"><i class="fa fa-save"></i>&nbsp; Update</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@section Scripts
    {
    <script type="text/javascript">
        $('#btnSave').click(function () {
            var obj = {
                EmployeeCD: $("#txtEmployeeCD").val(),
                EmployeeName: $("#txtEmployeeName").val()
            };
            CalltoApiController('@Url.Action("InsertEmployee", "api/EmployeeListApi")', obj);
        });
        $('#btnUpdate').click(function () {
            var obj = {
                EmployeeCD: $("#txtEmployeeCD").val(),
                EmployeeName: $("#txtEmployeeName").val(),                   
            };
            CalltoApiController('@Url.Action("UpdateEmployee", "api/EmployeeListApi")', obj);
        });
    </script>
}